header {
  text-align: center;
  min-height: 120px;
  max-height: 120px;
}

header > .main-buttons-bar > .main-button {
  display: inline-block;
  margin: 0 18px;
  font-size: 50px;
}

header > .main-buttons-bar > .main-button.active > i {
  color: yellowgreen;
}

.tab-content .row {
  margin: 0;
}

.sudoku-buttons-bar {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
.sudoku-buttons-bar > .as-button {
  margin: 0 10px;
}

