
<header class="main-header">
  <p>sudoku</p>
  <div class="main-buttons-bar">
    <div class="main-button" ng-repeat="b in buttons"
         ng-click="setPage(b.page)" ng-class="{'active':b.page==activePage}">
      <i class="as-button fa" ng-class="b.icon"></i>
    </div>
  </div>
</header>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="schema">
    <sudoku options="schema"></sudoku>
    <div style="text-align: center;">
      <i class="as-button fa fa-bolt" ng-click="resolve()"></i>
      <i class="as-button fa fa-save" ng-click="save()"></i>
    </div>
    <pre>{{current}}</pre>
  </div>
  <div role="tabpanel" class="tab-pane" id="engine">
    Generatore di schemi
  </div>
  <div role="tabpanel" class="tab-pane" id="settings">
    Opzioni
  </div>
</div>
