schema {
  display: block;
  .schema-container {
    height: 100%;
    #schema-canvas {
      height: 100%;
      margin: auto;
      position: relative;
      .schema-line {
        stroke:rgba(10,10,10, .85);
      }
      .schema-cell {
        cursor: pointer;
        -webkit-transition: all 1s;
        transition: all 1s;
        fill: transparent;  //rgba(200,200,200,.6);
        &:hover {
          fill: rgba(250, 250, 250, 0.7) !Important;
        }
        &.current {
          fill: rgba(64, 89, 250, 0.7) !Important;
        }
        &.error {
          fill: rgba(250, 0, 1, 0.7) !Important;
        }
        //&.fixed {
        //  fill: #111 !Important;
        //}
      }
      &.pencil {
        .schema-cell {
          &.current {
            fill: rgba(250, 104, 0, 0.7) !Important;
          }
        }
      }
      .schema-cell-text {
        pointer-events: none;
        fill: none;
        stroke: #111;
        stroke-width: 1px;
        &.fixed {
          //fill: #004085 !Important;
          //fill: none !Important;
          //stroke: #000;
          stroke: none !Important;
          fill: #111 !important;
        }
      }
      .pencil {
        text {
          pointer-events: none;
        }
      }
      .schema-group {
        fill: rgba(10, 10, 10, 0.2) !important;
      }
      &.drawing {
        .schema-board {
          fill: rgba(255, 229, 184, 0.8) !important;
        }
        .schema-cell-text {
          fill: orangered !important;
          stroke: none !important;
        }
      }
    }
  }
}

